# Projeto Automação Tendencia Grupo TALK

1 - Abrir o Navegador
2 - Acessar o Linx
3 - Logar no Linx
4 - Acessar o relatorio
5 - Baixar o relatorio
6 - Ler Arquivo Planilha

7 - Abrir a planilha da tendencia
8 - colcar as informacoes

In [ ]:
import pyautogui as pg
import pandas as pd
import openpyxl
import time

# Abrir o Navegador

pg.hotkey("command", "space")
time.sleep(2)
pg.write("safari")
pg.press("enter")
time.sleep(3)

# Acessar o Linx

pg.hotkey("command", "t")
time.sleep(2)
pg.write("erp.microvix.com.br")
pg.press("enter")
time.sleep(3)

# Logar no Linx

pg.write("ti.techmasters")
pg.press("tab")
pg.write(" senha")
pg.press("enter")
time.sleep(8)
pg.click(x=640, y=396)
time.sleep(15)

# Acessar o relatorio

pg.click(x=76, y=829)
pg.click(x=76, y=860)
time.sleep(5)
pg.press("tab")
pg.write("faturamento por venda")
pg.press("enter")
time.sleep(5)
pg.click(x=862, y=441)
time.sleep(3)
pg.press("tab")
pg.write("tendencia")
pg.press("enter")
time.sleep(3)
pg.click(x=895, y=430)
time.sleep(3)

# Baixar o relatorio

pg.press("tab")
pg.write("25122025")
pg.press("tab")
pg.write("24012026")
pg.press("tab")
time.sleep(1)
pg.click(x=985, y=382)
time.sleep(2)
pg.click(x=1024, y=422)
pg.click(x=1397, y=201)
time.sleep(120)
pg.click(x=316, y=309)
time.sleep(0.5)
pg.click(x=347, y=508)

KeyboardInterrupt:

In [ ]:
# Ler Arquivo Planilha
planilha = r"/Users/guilhermesouza/Downloads/pivot-62.xlsx"
tabela = pd.read_excel(planilha)
#Remove as duas primeiras linhas
tabela = tabela.drop(tabela.index[:2])
#Tornou a primeira linha nome das colunas (desbugando planilha linx)
tabela.columns = tabela.iloc[0]
tabela = tabela.iloc[1:].reset_index(drop=True)
list(tabela.columns)

['Nome Empresa',
 'Contagem total de Contador de Vendas',
 'Total Contagem distinta de Documento',
 'Soma total de Qtde Itens',
 'Soma total de Valor Total Documento',
 'PA',
 'TM']

In [ ]:
time.sleep(5)
print(pg.position())

Point(x=136, y=236)

In [ ]:
display(tabela)

2,Nome Empresa,Contagem total de Contador de Vendas,Total Contagem distinta de Documento,Soma total de Qtde Itens,Soma total de Valor Total Documento,PA,TM
0,LIG CELULAR (BOULEVARD),389,380,666,110103.93,1.712082,283.043522
1,LIG CELULAR (CONECTOR),140,137,171,36858.28,1.221429,263.273429
2,LIG CELULAR (EMBARQUE),133,133,199,39484.82,1.496241,296.878346
3,LIG CELULAR (PARKSHOPPING),242,234,434,87618.48,1.793388,362.059835
4,LIG CELULAR (PÁTIO BRASIL),250,243,379,54220.53,1.516,216.88212
5,LIG CELULAR (SIG),7,7,12,2123.63,1.714286,303.375714
6,LIG CELULAR (TAGUATINGA SHOPPING),294,291,425,62092.47,1.445578,211.198878
7,TALK MANHATTAN,85,83,123,21691.13,1.447059,255.189765
8,TALK (AEROPORTO),272,268,431,98295.73,1.584559,361.38136
9,TALK (BRASÍLIA SHOPPING),423,410,880,145537.96,2.080378,344.061371
10,TALK (DESEMBARQUE),125,123,166,34502.38,1.328,276.01904
11,TALK (PARKSHOPPING - QUIOSQUE),359,351,549,112486.43,1.529248,313.332674
12,TALK (PARKSHOPPING),196,190,322,55072.26,1.642857,280.980918
13,TALK (TERRAÇO),341,332,575,104104.31,1.686217,305.291232
14,TALK CNB,488,477,1058,139178.21,2.168033,285.20125
15,TALK JK,106,101,158,22320.07,1.490566,210.566698
16,TECH MASTERS (CONJUNTO NACIONAL),60,57,67,10386.76,1.116667,173.112667
17,TECH MASTERS (FLORIANÓPOLIS),443,438,803,150799.17,1.812641,340.404447
18,TECH MASTERS (PARKSHOPPING),500,486,953,197764.98,1.906,395.52996
19,Total geral,4853,4443,8371,1484641.53,1.724912,305.922425

In [ ]:
from datetime import date, timedelta

# contador de dias
data_inicial = date(2025, 12, 25)
ontem = date.today() - timedelta(days=1)
cont_dia = (ontem - data_inicial).days
diaria = tabela["Soma total de Valor Total Documento"]/cont_dia
qtd_dias_meta = 30
tabela["Tendencia"] = diaria * qtd_dias_meta

display(tabela)

2,Nome Empresa,Contagem total de Contador de Vendas,Total Contagem distinta de Documento,Soma total de Qtde Itens,Soma total de Valor Total Documento,PA,TM,Tendencia
0,LIG CELULAR (BOULEVARD),389,380,666,110103.93,1.712082,283.043522,132124.716
1,LIG CELULAR (CONECTOR),140,137,171,36858.28,1.221429,263.273429,44229.936
2,LIG CELULAR (EMBARQUE),133,133,199,39484.82,1.496241,296.878346,47381.784
3,LIG CELULAR (PARKSHOPPING),242,234,434,87618.48,1.793388,362.059835,105142.176
4,LIG CELULAR (PÁTIO BRASIL),250,243,379,54220.53,1.516,216.88212,65064.636
5,LIG CELULAR (SIG),7,7,12,2123.63,1.714286,303.375714,2548.356
6,LIG CELULAR (TAGUATINGA SHOPPING),294,291,425,62092.47,1.445578,211.198878,74510.964
7,TALK MANHATTAN,85,83,123,21691.13,1.447059,255.189765,26029.356
8,TALK (AEROPORTO),272,268,431,98295.73,1.584559,361.38136,117954.876
9,TALK (BRASÍLIA SHOPPING),423,410,880,145537.96,2.080378,344.061371,174645.552
10,TALK (DESEMBARQUE),125,123,166,34502.38,1.328,276.01904,41402.856
11,TALK (PARKSHOPPING - QUIOSQUE),359,351,549,112486.43,1.529248,313.332674,134983.716
12,TALK (PARKSHOPPING),196,190,322,55072.26,1.642857,280.980918,66086.712
13,TALK (TERRAÇO),341,332,575,104104.31,1.686217,305.291232,124925.172
14,TALK CNB,488,477,1058,139178.21,2.168033,285.20125,167013.852
15,TALK JK,106,101,158,22320.07,1.490566,210.566698,26784.084
16,TECH MASTERS (CONJUNTO NACIONAL),60,57,67,10386.76,1.116667,173.112667,12464.112
17,TECH MASTERS (FLORIANÓPOLIS),443,438,803,150799.17,1.812641,340.404447,180959.004
18,TECH MASTERS (PARKSHOPPING),500,486,953,197764.98,1.906,395.52996,237317.976
19,Total geral,4853,4443,8371,1484641.53,1.724912,305.922425,1781569.836