In [ ]:
import pandas as pd
import openpyxl

produtos_df = pd.read_excel("Produtos.xlsx")
display(produtos_df)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

In [8]:
## Atualizar o multiplicador
# Fazer a contra do preco base

produtos_df.loc[produtos_df["Tipo"] == "Serviço", ["Multiplicador Imposto"]] = 1.5

produtos_df["Preço Base Reais"] = produtos_df["Multiplicador Imposto"] * produtos_df["Preço Base Original"]
produtos_df.to_excel("Produtos_atualizado.xlsx", index=False)

In [15]:
## openpyxl

from openpyxl import Workbook, load_workbook

planilha = load_workbook("Produtos_atualizado.xlsx")
aba_ativa = planilha.active

for celula in aba_ativa["C"]:
   if celula.value == "Serviço":
       linha = celula.row
       aba_ativa[f"D{linha}"] = 1.5
planilha.save("Produtos_atualizado_openpyxl.xlsx")

In [19]:
## import tqdm faz uma barra de progresso para saber como esta rodando nosso codigodo

import tqdm

for celula in aba_ativa["C"]:
   if celula.value == "Serviço":
       linha = celula.row
       aba_ativa[f"D{linha}"] = 1.5